*.log
# Backup files
*.bak
# List of domains
*.domains
# Pi-hole history 
*.db
# Main domain list
gravity.list
# Host names (changes with container name)
local.list
# Backup list?
list.preEventHorizon
